html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    size: 0.1%;
    box-sizing: border-box;
    background-color: #686e6e;
    background-image: linear-gradient(#151d1d, #385050);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #243c41ee 0%, #243c4100 100%);
}

.inner_header {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}


.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 a {
    color: inherit;
    text-decoration: none;
}

.navigation {
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation a:hover {
    color:#66c3ac;
    transition: 0.3s ease-out;
}

.navigation li {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation li a{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
}

@font-face{
    font-family: 'Minecraft';
    src: url('assets/Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#web_header{
    font-family: 'Minecraft', sans-serif;
}

#web_img_header{
    padding-right: 50%;
}

/* Gif Header */

.gif-top{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
}

/* Profile */

.profile {
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25;
}

#profile {
    transform: translate(0, 30%);
    opacity: 0;
    transition: 1s ease;
}

#profile.profile--visible {
    transform: translate(0, 0%);
    opacity: 1;
}

#profile-photo {
    width: 15%;
    border-radius: 20%;
}

.box-info {
    padding: 2%;
    flex: 1;
    width: 100%;
    max-width: 800px;
    object-fit: cover;
    vertical-align: middle;
    background-color: #eff9fe;
    border-radius: 10px ;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box-info:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px #101719;
}

/* About Me 1*/

.abt-me {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
}

.abt-me h1 {
    color: #c7f8f2;
    padding-bottom: 3%;
}

.abtme {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    gap: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25;
}

.abt-me-image {
    position: relative; 
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

#abt-me-img {
    flex: 1;
    width: 100%;
    border-radius: 20%;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.abt-me-image::after, .abt-me-image::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 105%; 
    height: 105%;
    background-image: conic-gradient(from var(--angle), transparent 70%, #a6dbf3, #9af7e9, #84d0e0, #7ad4af, #a1c4b2);
    z-index: -1;
    border-radius: 20%;
    animation: 3s spin linear infinite;
}

/*  other colour codes
    #FDF2C5, #EDB286, #CC9486, #9C879B, #6D75A3 
    #FEFFFA, #E6E67A, #B0B646, #697538, #50521E */

.abt-me-image::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.info-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    max-width: 50%;
}

.abtme-info-1, .abtme-info-2, .abtme-info-3 {
    padding: 2%;
    flex-direction: column;
    align-items: center;
    display: block;
    margin: 10px auto;
    width: 80%;
    max-width: 800px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    object-fit: cover;
    background-color: #eff9fe;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.abtme-info-1:hover, .abtme-info-2:hover, .abtme-info-3:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px #101719;
}

/* Extras */

.extras {
    width: 56%;
    padding-top: 5%;
    padding-bottom: 20%;
    margin: auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25;
}

.extras h1 {
    text-align: center;
}

#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 100;
    top: 57%;
    left: 5%;
    font-size: 30px;
    color: #3b5d6a;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 57%;
    z-index: 100;
    right: 5%;
    font-size: 30px;
    color: #3b5d6a;
    cursor: pointer;
}

.extras-slide {
    padding-top: 3%;;
    display: flex;
    width: 100%;
    height: 500px;
}

.extras-slide img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    text-align: center;
}

.description h1{
    text-align: center;
    padding-top: 2%;
}

.description p{
    padding-top: 4%;
}

.description a{
    text-decoration: none;
    color: rgb(104, 155, 218);
}

.description a:hover {
    width: 100%;
    color:rgb(75, 105, 145);
    transition: 0.3s ease-out;
}

/* Projects */

#projects {
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
    padding: 60px 20px;
}

.projects {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

#projects-header{
    color: #c7f8f2;
}

.projects h1 {
    padding-bottom: 2%;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.project-card {
    background-color: #eff9fe;
    width: 500px;
    padding: 2%;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px #101719;
}

.project-card img {
    max-width: 100%;
    height: auto;
}

.project-description a{
    text-decoration: none;
    color: #243c41;
}

.project-description a:hover {
    width: 100%;
    color:#66c3ac;
    transition: 0.3s ease-out;
}

.project-image{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
}

.gamefile_dl_link{
    background-color: #eff9fe;
    width: 500px;
    padding: 2%;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gamefile_dl_link a{
    color: #101719;
    text-decoration: none;
}

.gamefile_dl_link a:hover{
    width: 100%;
    color:#66c3ac;
    transition: 0.3s ease-out;
}

.elementra-bg{
    background-image: url(./assets/Elementra.png);
}

.project-card:hover .elementra-bg{
    background-image: url(./assets/Elementra_PrevGif.gif);
}

.ratsandroombas-bg{
    background-image: url(./assets/Rats\ and\ Roombas.png);
}

.project-card:hover .ratsandroombas-bg{
    background-image: url(./assets/RatsAndRoombas_Gif1.gif);
}

.toocube-bg{
    background-image: url(./assets/Too\ Cube.png);
}

.project-card:hover .toocube-bg{
    background-image: url(./assets/TooCube_Gif.gif);
}

.balloonjoyride-bg{
    background-image: url(./assets/BalloonJoyride.png);
}

.project-card:hover .balloonjoyride-bg{
    background-image: url(./assets/BalloonJoyride_Gif.gif);
}

.iwtgh-bg{
    background-image: url(./assets/IWTGH.png);
}

.project-card:hover .iwtgh-bg{
    background-image: url(./assets/Iwtgh_Gif1.gif);
}

.others-bg{
    background-image: url(./assets/Others_Img.png);
}

/* Sub-Sections */

.project-level{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 25;
    margin-top: 8px;
    margin-bottom: 8px;
}

.project-type{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 25;
    margin-top: 8px;
    margin-bottom: 8px;
}

.project-level.beginner{
    background-color: greenyellow;
    color: green;
}

.project-level.intermediate{
    background-color: rgb(255, 241, 47);
    color: rgb(128, 115, 0);
}

.project-level.expert{
    background-color: rgb(255, 47, 47);
    color: rgb(128, 0, 0);
}

.project-type.unity{
    background-color: rgb(196, 196, 196);
    color: rgb(65, 65, 65);
}

.project-type.unreal{
    background-color: rgb(108, 108, 108);
    color: rgb(30, 30, 30);
}

.project-type.tteh{
    background-color: rgb(0, 55, 207);
    color: rgb(0, 7, 105);
}

.project-type.art{
    background-color: rgb(255, 78, 240);
    color: rgb(126, 13, 92);
}

/* Contact Me */

.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.contact-me::after, .contact-me::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 65%;
    background-image: conic-gradient(from var(--angle), transparent 70%, #a6dbf3, #9af7e9, #84d0e0, #7ad4af, #a1c4b2);
    z-index: -1;
    padding: 20px 8px 5px 8px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

/*  other colour codes
    #FDF2C5, #EDB286, #CC9486, #9C879B, #6D75A3 
    #FEFFFA, #E6E67A, #B0B646, #697538, #50521E */

.contact-me::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.contact-me h1 {
    padding-bottom: 2%;
}

.contact-card {
    background-color: #eff9fe;
    width: 30%;
    padding: 2%;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    border-radius: 10px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-list a{
    text-decoration: none;
    color: #243c41;
}

.contact-list a:hover {
    color:#66c3ac;
    transition: 0.3s ease-out;
}

#contact-logo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

/* Footer */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-container {
    background-color: #243c41df;
    padding: 2rem 5% 20rem 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    flex-wrap: wrap;
}

.footer {
    width: 80%;
    height: 40vh;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.footer-container {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
}

.footer-heading a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-1 {
    float: left;
    padding-top: 3%;
    padding-left: 10%;
}

.footer-2 {
    float: right;
    padding-top: 3%;
    padding-right: 10%;
}

.footer-heading a:hover {
    color: #66c3ac;
    transition: 0.3s ease-out;
}

.footer-2 p{
    display: none;
}